<div class="home-container">
  <div class="d-flex align-items-center justify-content-center flex-wrap w-100 p-4">
    <div class="col-md-6 text-center">
      <h1 class="mb-4">Need Assistance? Raise a Complaint</h1>
      <p class="lead mb-4">If you have any concerns or doubts, our support team is here to help you. Click the button below to submit your complaint and get your issues resolved.</p>
      <button class="btn btn-primary btn-lg" routerLink="/complaint">Raise a Complaint</button>
    </div>
    <div class="col-md-6">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQxOLdZ7_1ZFzzYKbz0o8st1P9bMmpaUndIGgg_D2fhFoQqJx61s2NcUSqSHWcM59LR1vg&usqp=CAU" alt="" class="img-fluid">
    </div>
  </div>
  <app-footer></app-footer>
</div>
