.sidebar {
  width: 280px;
  height: 90vh;
  padding: 20px;
  transition: width 0.3s;
  border-right: 1px solid #dadada;
  background-color: #343537;
}

@media screen and (max-width:768px) {
  .sidebar {
    display: none;
  }
}

.sidebar-hidden {
  width: 80px;
}

.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.heading {
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.nav {
  list-style: none;
  padding: 0;
}

.nav-item {
  margin-bottom: 10px;
}

.nav-link {
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
  padding: 10px;
  padding-right: 0;
  padding-left: 15px;
  border-radius: 5px;
  transition: background-color 0.3s;
  border: 1px solid #cecece;
}

.nav-link:hover {
  background-color: #aeaeaf;
  color: #393939;
}

.icon {
  background-color: rgb(105, 105, 253);
  color: #fff;
  padding: 6px 11px;
  border-radius: 50%;
}

.sidebar-icon {
  margin-right: 10px;
}

.sidebar-text {
  font-size: 16px;
}

.nav-link.active {
  background-color: rgb(220, 220, 223);
  color: #393939;
}

.sidebar-icon {
  font-size: 24px;
}